# Random junky folders Visual Studio and Mac OS keep creating
/.vscode
/.DS_Store

# Files I use to test the functionality of cvector.h
main.c
main
a.out
errors.log

# Executables made from the sample-files I have here, when using make
sample-string